<button data-test-product-destroy-button {{action "toggle"}}>{{yield}}</button>
{{confirm-action onConfirm=(action 'destroy' product)
  confirmShown=confirmShown warningMsg="This will remove the product, do you wish to proceed?" }}
