<h3>Pictures</h3>
{{picture-create newPicture=newPicture 
  product=product inForm=inForm}}
{{#each product.pictures as |picture index|}}
  <img src={{picture.url}}>
  {{picture-destroy picture=picture inForm=inForm}}
{{/each}}
