<h1>Zarejestruj się</h1>
<p>Stwórz konto, aby w pełni móc korzystać z funkcjonalności jakie oferuje nasz sklep,
   w tym formularza preferencji, który pozwoli dopasować naszą ofertę Twoich upodobań.</p>
{{user-form user=model newUser=true}}