  {{#link-to 'users.edit'}}
    {{#paper-button raised=true primary=true}}Wróć {{/paper-button}}
  {{/link-to}}
  
<h1>Twoje zamówienia</h1>

{{#each model as |order|}}
  {{order-item model=order isUser=true}}
{{/each}}