{{outlet}}
<h1>Categories</h1>
{{#link-to "categories.new"}}
  {{#paper-button data-test-categories-new-link raised=true primary=true}}
    New
  {{/paper-button}}
{{/link-to}}
{{#each model as |category|}}
  {{category-thumb model=category}}
{{/each}}