{{outlet}}
<h1>Categories</h1>
{{#paper-button data-test-categories-new-link raised=true primary=true onClick=(action 'toNew')}}
  {{!-- {{#link-to "categories.new" }}New{{/link-to}} --}}
  New
{{/paper-button}}

{{#each model as |category|}}
  {{category-thumb model=category}}
{{/each}}