{{outlet}}

<div>{{#link-to "products.new" data-test-product-index-new-link}}New{{/link-to}}</div>
{{#paper-switch value=availability label="Availability" onChange=(action (mut availability))}}
  {{availability}}
{{/paper-switch}}
{{paper-input label="Search by name"  value=searchQuery onChange=(perform nameUpdate)}}
{{#each model as |product|}}
  {{product-thumb product=product class="thumb"}}
{{/each}}