{{outlet}}
<h1>{{t 'product.indexName'}}</h1>
{{paper-input label="Znajdź produkt"  value=searchQuery onChange=(perform nameUpdate)}}

{{#each model as |product|}}
  {{product-thumb product=product class="thumb"}}
{{/each}}