<span>{{product.id}}</span>
<span data-test-product-thumb-name>{{product.name}}</span>
<div>{{#link-to "products.product" data-test-product-thumb-link product}}Details{{/link-to}}</div>
<div>{{#link-to "products.edit" data-test-product-thumb-edit-link product}}Edit{{/link-to}}</div>