{{yield}}
<h1 data-test-category-show-name> {{model.name}} </h1>  

<div> Products in this category </div>
<ul  data-test-category-show-products>
  {{#each model.products as |product|}}
    <li>{{#link-to "products.product" product}}{{product.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to "categories.edit" model data-test-category-edit-link}}Edit{{/link-to}}
{{#category-destroy category=model}}Remove{{/category-destroy}}