{{paper-input textarea=true block=true label="Treść" maxlength=1500 
  passThru=(hash rows=5 maxRows=5)
  value=changeset.body onChange=(action (mut changeset.body))}}
<ul>
  {{#each changeset.errors as |errorSet|}}
    {{#each errorSet.validation as |error|}}
      <li>Treść nie może byc pusta</li>
    {{/each}}
  {{/each}}
</ul>

{{#paper-button data-test-product-form-save-button raised=true primary=true onClick=(action "save")}}Wyślij{{/paper-button}}