{{paper-input  value=changeset.body 
  onChange=(action (mut changeset.body)) label="Treść"}}
<ul>
  {{#each changeset.errors as |errorSet|}}
    {{#each errorSet.validation as |error|}}
      <li>Treść nie może byc pusta</li>
    {{/each}}
  {{/each}}
</ul>

{{#paper-button data-test-product-form-save-button raised=true primary=true onClick=(action "save")}}{{t 'default.save'}}{{/paper-button}}
{{#paper-button data-test-product-form-cancel-button raised=true onClick=(action "rollback")}}{{t 'default.cancel'}}{{/paper-button}}