{{message-box model=model}}

<h2>
  Dane kontaktowe
</h2>
<p>
  <b>BSC</b><br>
  Adres: Mateusz Skrobiś<br>
  ul. Krzywa 3/14<br>
  43-402 Bielsko-Biała<br>
  NIP: <b>420459131234</b><br>
  REGON: <b>31321412423</b><br>
  Konto bankowe: <b>  MSBC 10 2394 2913 9313 0149 4342 0234</b><br>
</p>