<h1>Zmiana hasła</h1>
<p>Podaj swój adres e-mail. Jezeli posiadasz konto u nas, wyślemy Ci wiadomość z instrukcjami.</p>
{{paper-input  value=email 
  onChange=(action (mut email)) label="Treść"}}

{{#paper-button raised=true primary=true onClick=(action "sendRequest")}}Wyślij{{/paper-button}}